<ion-header [style.visibility]="content_visibility">
  <ion-toolbar color="primary">
    <ion-title>
      QR Code
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [style.visibility]="content_visibility">

  <ion-card class="ion-text-center">
    <ion-card-content>
      <qrcode [qrdata]="qrCodeString" [width]="256" [errorCorrectionLevel]="'M'">
      </qrcode>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" class="ion-margin" (click)="startScan()">
    Scan Ticket
  </ion-button>
  
  <ion-card *ngIf="scannedResult">
  <ion-list>
    <ion-item><ion-label class="ion-text-wrap">Ticket Name : {{values[1]}}</ion-label></ion-item>
    <ion-item><ion-label class="ion-text-wrap">28th : {{values[2] === "1" ? "Yes" : "No"}}</ion-label></ion-item>
    <ion-item><ion-label class="ion-text-wrap">29th : {{values[3] === "1" ? "Yes" : "No"}}</ion-label></ion-item>
    <ion-item><ion-label class="ion-text-wrap">Adults : {{values[4]}}</ion-label></ion-item>
    <ion-item><ion-label class="ion-text-wrap">Kids : {{values[5]}}</ion-label></ion-item>
  </ion-list>    

<ion-button expand="block" class="ion-margin" (click)="startScan()">
  Submit for 28th
</ion-button>

<ion-button expand="block" class="ion-margin" (click)="startScan()">
  Submit for 29th
</ion-button>
</ion-card>
</ion-content>